:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.title {
    background-color: #32373a;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 0.3rem;
}

.table-container {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.mat-table {
    width: 100%;
    background-color: #32373a;
    
    .mat-sort-header {
        border-bottom-color: white;
    }
    
    .gray {
        background-color: #3e4346;
    }
}
