<mat-grid-list cols="3" rowHeight=fit>
    <mat-grid-tile>
        <div
            appChart
            id="altersverteilung"
            [chartData]="chartData.altersverteilung"
            [title]="'Altersverteilung'"
            style="width: 100%; height: 100%;"
        ></div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div
            appChart
            id="bundesland"
            [chartData]="chartData.bundesland"
            [title]="'Fälle je Bundesland'"
            style="width: 100%; height: 100%;"
        ></div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div
            appChart
            id="trend"
            [chartData]="chartData.trend"
            [title]="'Nationaler Trend'"
            style="width: 100%; height: 100%;"
        ></div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div
            appChart
            id="geschlechtsverteilung"
            [chartData]="chartData.geschlechtsverteilung"
            [title]="'Geschlechtsverteilung'"
            style="width: 100%; height: 100%;"
        ></div>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-location-table
            *ngIf="chartData.bezirke"
            [data]="chartData.bezirke[0].dataPoints"
        ></app-location-table>
    </mat-grid-tile>
    <mat-grid-tile>6</mat-grid-tile>
</mat-grid-list>