<mat-grid-list cols="3" rowHeight=fit>
    <mat-grid-tile>
        <div
            *ngIf="chartData.altersverteilung; else spinner"
            appChart
            id="altersverteilung"
            [chartData]="chartData.altersverteilung"
            [title]="'Altersverteilung'"
            style="width: 100%; height: 100%;"
        ></div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div
            *ngIf="chartData.bundesland; else spinner"
            appChart
            id="bundesland"
            [chartData]="chartData.bundesland"
            [title]="'Fälle je Bundesland'"
            style="width: 100%; height: 100%;"
        ></div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div
            *ngIf="chartData.trend; else spinner"
            appChart
            id="trend"
            [chartData]="chartData.trend"
            [title]="'Nationaler Trend'"
            style="width: 100%; height: 100%;"
        ></div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div
            *ngIf="chartData.positivGetestet; else spinner"
            appChart
            id="positivGetestet"
            [chartData]="chartData.positivGetestet"
            [title]="'Positiv getestete Personen'"
            style="width: 100%; height: 100%;"
        ></div>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-location-table
            *ngIf="chartData.bezirke; else spinner"
            [data]="chartData.bezirke[0].dataPoints"
            [title]="'Fälle je Bezirk (absolute Zahlen)'"
        ></app-location-table>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-map
            *ngIf="chartData.topology; else spinner"
            [data]="chartData.topology"
        ></app-map>
    </mat-grid-tile>
</mat-grid-list>

<ng-template #spinner>
    <mat-spinner></mat-spinner>
</ng-template>